cachetools==3.1.0
bokeh==1.3.2
 mesh-tensorflow==0.1.16 
ngraph-tensorflow-bridge==0.18.0
tensorflow-metadata==0.23.0
tensorflow-datasets==3.2.0
tensorflow_probability==0.7.0
tensorwatch==0.9.1
tensorflow-hub==0.8.0
tensorflow-addons==0.10.0
tensorflow_text==2.3.0
tensorflow-transform==0.23.0
tensorflow_model_analysis==0.23.0
neural-structured-learning==1.1.0
tensorflow_constrained_optimization
tensorflow-graphics-gpu==1.0.0
tensorflow-gan==2.0.0
tensorflow-data-validation==0.23.0
tensorflow-model-optimization==0.3.
tf-agents==0.7.1
tf-slim==1.1.
tfx==0.23.0
tfx-bsl==0.23.0
tensorflow_ranking==0.3.1
tensorflow-compression==1.3
tensor2tensor==1.15.7
jupyter-tensorboard==0.2.0
tensorflow-plot==0.3.2
tensorflow-lattice==2.0.5
tensorflow-io==0.15
tensorflow==2.3.2
tensorboard==2.3.0
jsonschema==3.2.0
attrs==20.3.0
parso==0.8.1
prompt-toolkit==3.0.16
pyrsistent==0.17.3
wcwidth==0.2.5
jupyterlab-nvdashboard==0.3.0
mpi4py==3.0.3
nni==1.9
mlflow==1.12.1
scikit-nni==0.2.1

